@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


:root {
  --ff-primary: 'Karla', sans-serif;
  --ff-heading: 'DM Serif Display', serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-28: 1.75rem;
  --fs-48: 3rem;

  --clr-primary--800: hsl(256, 26%, 20%);   /* bg dark */
  --clr-primary--400: hsl(216, 30%, 68%);   /* icons */

  --clr-neutral--900:   hsl(270, 9%, 17%);  /* h1, h2, btn */
  --clr-neutral--500:   hsl(240, 1%, 51%);  /* body */
  --clr-neutral--300:   hsl(273, 4%, 85%);  /* footer-nav */
  --clr-neutral--100:   hsl(0, 0%, 95%);    /* bg footer */
  --clr-neutral--000:   hsl(0, 0%, 100%);    /* bg footer */
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  font-size: var(--fs-16);
  line-height: 1.6;
  text-align: center;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
}

h1, h2, h3, h4 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-48);
  margin-bottom: 0.25em;
}

h2 {
  font-size: var(--fs-48);
}

h2::before {
  content: '';
  display: block;
  width: 8rem;
  height: 1px;
  margin-bottom: 2rem;
  margin-inline: auto;
  background-color: var(--clr-primary--400);
}




h3 {
  font-size: var(--fs-28);
}

p {
  margin-block: 1em;
}

ul {
  list-style: none;
}

a {
  color: var(--clr-neutral--900);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

aside {
  max-width: 600px;
}





/* layout ------------------------------------ */

.container {
  max-width: 70rem;
  margin-inline: auto;
  padding: 5rem 2rem;
}


/* navigations ------------------------------- */

/* main-nav */
nav {
  display: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;  

  position: relative;
  min-height: 80px;
  padding-block: 0;
  z-index: 5;
}

.main-nav {
  position: absolute;
  width: 100%;
  top: 80px;
  left: -100%;
  padding-block: 1.5em;

  background: var(--clr-primary--800);

  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.15em;

  transition: 0.4s;
}

.main-nav.open {
  left: 0;
}

.main-nav a {
  display: block;
  max-width: 18rem;
  margin-inline: auto;
  padding-block: 1.2em;
  color: var(--clr-neutral--000);

  transition: color 0.2s;
}

.main-nav a:hover {
  color: var(--clr-primary--400);
}


/*  footer nav */

.footer-nav {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr-neutral--500);
}

.footer-nav > li > p {
  padding-block: 1rem;
}

.level2 {
  margin-block: 1rem;
}

.footer-nav a {
  display: block;
  padding-block: 0.5rem;

  transition: 0.15s;
}

.footer-nav a:hover {
  color: var(--clr-primary--400);
  text-decoration: underline;
}



/* intro */
.intro {
  background-color: var(--clr-primary--800);
  background-image: url(../img/bg-pattern-intro-right-mobile.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat;

  color: var(--clr-neutral--100);
}

.intro__body {
  padding: 5rem 2rem;
  background-image: url(../img/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
}




/* how we work */
/* see cards in assets */




/* footer */
footer {
  margin-top: 5rem;
  background-color: var(--clr-neutral--100);
  background-image: url(../img/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
}

.social {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--clr-neutral--300);
}

.social .logo {
  display: inline-block;
  margin-block: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}










/* assets ------------------------------------ */

/* btn */
.btn {
  display: inline-block;
  margin-block: 1.5rem;
  padding: 0.7rem 2rem;
  border: 1px solid var(--clr-neutral--000);

  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--clr-neutral--000);
}

.btn:hover {
  background-color: var(--clr-neutral--000);
  color: var(--clr-primary--800);
}


/* hamburger */
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 34px;
  height: 34px;
  border: 2px solid var(--clr-neutral--900);
  cursor: pointer;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--clr-neutral--900);

  transition: transform 400ms, background-color 400ms;
}

.hamburger span::before,
.hamburger span::after {
  content: '';
}

.hamburger span::before {
  transform: translateY(-6px);
}
.hamburger span::after {
  transform: translateY(6px);
}

.hamburger.open span {
  background-color: transparent;
}

.hamburger.open span::before {
  transform: rotate(45deg);
}
.hamburger.open span::after {
  transform: rotate(-45deg);
}



/* card */
.card {
  margin-block: 2rem;
}

.card__icon {
  display: inline-block;
  margin-block: 2rem;
}

.card__body {
  color: var(--clr-neutral--500);
}



/* cta */
.cta {
  margin-top: 5rem;
  padding: 4rem 1rem;
  background-color: var(--clr-primary--800);
  background-image: url(../img/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;

  color: var(--clr-neutral--000);
}


/* media queries */

@media (max-width: 320px) {
  body {
    border: 5px solid red;
  }
}

@media (min-width: 38rem) {

  body {
    text-align: left;
  }

  h1::before {
    content: '';
    display: block;
    width: 8rem;
    height: 1px;
    margin-bottom: 2rem;
    background-color: var(--clr-neutral--100);
  }

  /* intro */
  .intro {
    background-image: 
      url(../img/bg-pattern-intro-left-desktop.svg),
      url(../img/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: 
      left bottom,
      top right;
  }

  .intro__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    grid-template-areas: 
    "b i";

    max-width: 70rem;
    margin-inline: auto;
  }

  .intro__image {
    grid-area: i;

    transform: translateY(7rem);
  }

  .intro__body {
    grid-area: b;
    background-image: none;
  }


  /* how we work */
  h2::before {
    margin-inline: initial;
  }

  .cards {
    display: flex;
    gap: 3rem;
  }

  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 5rem;
  }

  .cta__title {
    flex-basis: 60%;
  }

  .cta > a {
    flex-shrink: 0;
  }

  .cta h2::before {
    display: none;
  }


  /* footer */
  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 0;
  }

  .social-link:hover path {
    fill: var(--clr-neutral--900);
  }

  .footer-nav {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
  }


}

@media (min-width: 60rem) {

  .hamburger {
    display: none;
  }

  .main-nav {
    display: flex;
    align-items: center;
    gap: 2em;

    position: relative;
    width: auto;
    top: initial;
    left: initial;
    margin: 0;
    padding: 0;
    background-color: var(--clr-neutral--000);

    font-size: var(--fs-16);
  }

  .main-nav a {
    color: var(--clr-primary--400);
  }

  .main-nav a:hover {
    color: var(--clr-primary--800);
  }

  a.btn-bright {
    margin: 0;
    padding: 0.5em 1.5em;
    border: 1px solid var(--clr-primary--800);

    color: var(--clr-primary--800);
  }
  a.btn-bright:hover {
    background-color: var(--clr-primary--800);
    color: var(--clr-neutral--000);
  }
}


/* utility classes */

.flex {
  display: flex;

}